.App {
  text-align: center;
  background-color: rgb(120, 104, 123);
  color: white;
  min-height: fit-content;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mydiv {
  animation-duration: 4s;
  animation-name: my-animation;
  animation-iteration-count: 1;
  animation-direction: right;
  
}
.about{
  background-color:  #8898b6;
  padding-bottom: 100px;

}
#gifs-rows img {
  cursor: pointer;
}
#gifs-rows .gif-file {
  display:none;
}
@keyframes my-animation {
  0% {
    left: -800px;
    top: 250px;
  }
  25% {
    left: -300px;
    top: 100px;
  }
  50% {
    left: 300px;
    top: 110px;
  }
  75% {
    left: 0px;
    top: -250px;
  }
}
.landing{
  margin-top: 2px;
  margin-right: -00px;
  margin-bottom: -200px;
background-image: url(https://media.giphy.com/media/3oz8xDp5mAEOAZXEPe/giphy.gif);
background-position: center;
background-repeat: no-repeat;
/* border:palevioletred solid 10px; */
width:900px;
height: 300px;
}

.about-intro{
background-image: url("https://media.giphy.com/media/hTZqITHNkgmX0fwt1C/giphy.gif");
background-repeat: no-repeat;
background-size:cover;
background-position: 0px;

height: 500px;
}

.contactForm{
  padding-top: 70px;
  padding-bottom: 70px;
  margin-left: 400px;
  /* background-color: coral; */
  width: 200px;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
